workflow (2).json
{
  "name": "E-Commerce Order Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "woo-order",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "4d4e4f40-0001-4d44-9d04-000000000001",
      "name": "Webhook - New WooCommerce Order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "woo-order"
    },
    {
      "parameters": {
        "url": "={{ $env.WOOCOMMERCE_STORE_URL }}/wp-json/wc/v3/products/{{ $json.line_items[0].product_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "4d4e4f40-0002-4d44-9d04-000000000002",
      "name": "HTTP - Check Inventory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.stock_quantity }}",
              "operation": "smaller",
              "value2": "={{ $env.LOW_STOCK_THRESHOLD }}"
            }
          ]
        }
      },
      "id": "4d4e4f40-0003-4d44-9d04-000000000003",
      "name": "IF - Low Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_PURCHASING_CHANNEL }}",
        "text": "=⚠️ Low stock alert!\nProduct: {{ $json.name }}\nRemaining: {{ $json.stock_quantity }} units\nOrder #{{ $('Webhook - New WooCommerce Order').item.json.id }} just reduced stock below threshold."
      },
      "id": "4d4e4f40-0004-4d44-9d04-000000000004",
      "name": "Slack - Low Stock Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [900, 180]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SENDGRID_FROM_EMAIL }}",
        "toEmail": "={{ $('Webhook - New WooCommerce Order').item.json.billing.email }}",
        "subject": "=✅ Order Confirmed — #{{ $('Webhook - New WooCommerce Order').item.json.id }}",
        "htmlBody": "=<html><body style=\"font-family:Arial,sans-serif;color:#1e293b\"><h2>Thank you for your order, {{ $('Webhook - New WooCommerce Order').item.json.billing.first_name }}!</h2><p>Your order <strong>#{{ $('Webhook - New WooCommerce Order').item.json.id }}</strong> has been received and is being processed.</p><p><strong>Total: £{{ $('Webhook - New WooCommerce Order').item.json.total }}</strong></p><p>You will receive your invoice shortly. If you have any questions, reply to this email.</p></body></html>",
        "options": {}
      },
      "id": "4d4e4f40-0005-4d44-9d04-000000000005",
      "name": "SendGrid - Order Confirmation",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [900, 380]
    },
    {
      "parameters": {
        "url": "https://api.pdfmonkey.io/api/v1/documents",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "document[document_template_id]",
              "value": "={{ $env.PDFMONKEY_TEMPLATE_ID }}"
            },
            {
              "name": "document[payload]",
              "value": "={{ JSON.stringify({ order_id: $('Webhook - New WooCommerce Order').item.json.id, customer: $('Webhook - New WooCommerce Order').item.json.billing, items: $('Webhook - New WooCommerce Order').item.json.line_items, total: $('Webhook - New WooCommerce Order').item.json.total }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4d4e4f40-0006-4d44-9d04-000000000006",
      "name": "HTTP - Generate Invoice PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SENDGRID_FROM_EMAIL }}",
        "toEmail": "={{ $('Webhook - New WooCommerce Order').item.json.billing.email }}",
        "subject": "=🧾 Your Invoice — Order #{{ $('Webhook - New WooCommerce Order').item.json.id }}",
        "htmlBody": "=<p>Dear {{ $('Webhook - New WooCommerce Order').item.json.billing.first_name }},</p><p>Please find your invoice attached for order #{{ $('Webhook - New WooCommerce Order').item.json.id }}.</p><p>Thank you for shopping with us!</p>",
        "options": {}
      },
      "id": "4d4e4f40-0007-4d44-9d04-000000000007",
      "name": "SendGrid - Email Invoice",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [1340, 380]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_WAREHOUSE_CHANNEL }}",
        "text": "=📦 New order to fulfil!\nOrder #{{ $('Webhook - New WooCommerce Order').item.json.id }}\nCustomer: {{ $('Webhook - New WooCommerce Order').item.json.billing.first_name }} {{ $('Webhook - New WooCommerce Order').item.json.billing.last_name }}\nItems: {{ $('Webhook - New WooCommerce Order').item.json.line_items.map(i => i.name + ' x' + i.quantity).join(', ') }}\nShip to: {{ $('Webhook - New WooCommerce Order').item.json.shipping.address_1 }}, {{ $('Webhook - New WooCommerce Order').item.json.shipping.city }}"
      },
      "id": "4d4e4f40-0008-4d44-9d04-000000000008",
      "name": "Slack - Warehouse Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1560, 380]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "={{ $env.GOOGLE_SHEET_ID }}",
        "range": "Order Log!A:H",
        "options": { "headerRow": true },
        "dataMode": "autoMapInputData"
      },
      "id": "4d4e4f40-0009-4d44-9d04-000000000009",
      "name": "Google Sheets - Log Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1780, 380]
    }
  ],
  "connections": {
    "Webhook - New WooCommerce Order": {
      "main": [[{ "node": "HTTP - Check Inventory", "type": "main", "index": 0 }]]
    },
    "HTTP - Check Inventory": {
      "main": [[{ "node": "IF - Low Stock?", "type": "main", "index": 0 }]]
    },
    "IF - Low Stock?": {
      "main": [
        [{ "node": "Slack - Low Stock Alert", "type": "main", "index": 0 }],
        [{ "node": "SendGrid - Order Confirmation", "type": "main", "index": 0 }]
      ]
    },
    "Slack - Low Stock Alert": {
      "main": [[{ "node": "SendGrid - Order Confirmation", "type": "main", "index": 0 }]]
    },
    "SendGrid - Order Confirmation": {
      "main": [[{ "node": "HTTP - Generate Invoice PDF", "type": "main", "index": 0 }]]
    },
    "HTTP - Generate Invoice PDF": {
      "main": [[{ "node": "SendGrid - Email Invoice", "type": "main", "index": 0 }]]
    },
    "SendGrid - Email Invoice": {
      "main": [[{ "node": "Slack - Warehouse Notification", "type": "main", "index": 0 }]]
    },
    "Slack - Warehouse Notification": {
      "main": [[{ "node": "Google Sheets - Log Order", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "versionId": "00000000-0000-0000-0000-000000000004"
}
